/Prototypes/Base Ogre/datafiles/*
Prototypes/Base Ogre/Base Ogre.suo
Prototypes/Base Ogre/Ogre1Test/Release/
\Prototypes\Base Ogre\Ogre1Test\Debug
Debug\
Release\
!*.vcxproj
!*.vcproj
!*.cfg
*.dll
*.lastbuildstate
*.log
*.tlog
*.obj
*.pdb
*.exe
*.pdb
*.suo
*.ilk
#*.vcxproj
#*.vcproj
*.idb
*.ipch
*.sdf

