/Prototypes/Base Ogre/datafiles/*
/Prototypes/Base Ogre/Media/CEGUI/*
*.lastbuildstate
Prototypes/Base Ogre/Base Ogre.suo
Prototypes/Base Ogre/Ogre1Test/Release/Ogre1Test.log
*.log
*.tlog
Prototypes/Base Ogre/Ogre1Test/Release/Base Ogre.lastbuildstate
*.obj
*.pdb
*.exe
*.pdb
*.suo
*.cfg